.NewPet {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.NewPet label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewPet input {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
}



.NewPet button:hover,
.NewPet button:active {
    color: white;
    background-color: #fa923f;
}